 *{box-sizing: border-box;}
 
 body{ 
    background-image: url(img/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.container{
   
     margin: 15px 25px 10px 25px; 
     background-color: rgba(0, 0, 0, 0.20);
     display: flex;
     flex-direction: column;
     align-items: center;
     
     
}   
.header{
    text-align: center;
}


.form{
    background-color: rgba(0, 0, 0,0.75);
    display: flex;
    flex-direction: column;
    gap:5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33%;
    

}

p, label{
    color: white;
    padding: 0px;

}
span{
    color: red;
}
button{
    background-color: red;
    border-radius: 20px;
    align-items: center;
}
.input1{
    width: 90%;
}
h1{
    color: white;
    /* font-family: 'Lobster', cursive; */
}  
.button1{
    display: flex;
    justify-content: center;
}