@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lobster&family=Sorts+Mill+Goudy:ital@1&display=swap');

 *{box-sizing: border-box;}
 
 body{ 
    background-image: url(img/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    background-attachment: fixed;
}
.container{
   
     max-width: 1240px;
    
     margin:auto;
     margin-top: 30px;
     margin-bottom: 30px;
     background-color: rgba(0, 0, 0, 0.20);
     display: flex;
     flex-direction: column;
     align-items: center;
     
     
}   
.header{
    text-align: center;
}


.form{
    background-color: rgba(0, 0, 0,0.75);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33%;
    margin-bottom: 20px;
    

}

p, label{
    color: white;
    padding: 0px;

}
span{
    color: red;
}
button{
    background-color: red;
    border-radius: 20px;
    align-items: center;
}
.input1{
    width: 90%;
}
h1{
    color: white;
    font-family: 'Bowlby One SC', cursive;
}  
.button1{
    display: flex;
    justify-content: center;
}

.header p{
    font-family: 'Sorts Mill Goudy', serif;                                
}
#name,
#age,
#email,
#content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 10px;
}